.QComboBox {
background:rgba(0,0,0,0.25);
min-height:20px;
border:1px solid rgba(0,0,0,0.8);}
QComboBox::drop-down {
subcontrol-origin: padding;
subcontrol-position: top right;
width: 15px;
border-left:1px solid rgba(0,0,0,0.8);}
