QLineEdit {
color:palette(text);
min-width:20px;
min-height:20px;
border:1px solid rgba(0,0,0,0.8);
background:palette(base);
padding:0px 2px;
selection-background-color:palette(highlight);
selection-color:palette(highlight-text);}
QLineEdit:disabled {
color:#656666;}
