.QTabWidget::tab-bar {
alignment: center;}

.QTabWidget::pane {
margin-top:-1px;
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color:rgba(0,0,0,0.8);}

.QTabBar::tab {
padding:2px 15px;
border:1px solid  rgba(0,0,0,0.8);
background-color:palette(base);}
QTabBar::tab:selected {
border:1px solid  rgba(0,0,0,0.8);
background-color:palette(highlight);}

.QTabBar::tab:top:!first,
.QTabBar::tab:bottom:!first {
padding:4px 4px;
margin-left: -1;}

.QTabBar::tab:left:!first,
.QTabBar::tab:right:!first {
padding:4px 4px;
margin-top: -1;}

.QTabBar::tear {
background:palette(highlight);
border:1px solid  rgba(0,0,0,0.8);}
.QTabBar QToolButton {
padding:5px;
border:1px solid  rgba(0,0,0,0.8);
background:palette(base);}
.QTabBar::close-button {}

