QListView,
QTreeWidget,
QTableWidget,
QMdiArea,
QGraphicsView,
QTextEdit,
QPlainTextEdit,
QIconView {
margin:2px;
border:1px solid rgba(0,0,0,0.8);
color:palette(text);
alternate-background-color:palette(base);
background-color:palette(base);}

.QSplitter::handle {
border:none;}
.QSplitter::handle:horizontal{
width: 5px;}
.QSplitter::handle:vertical {
height: 5px;}
