border,
border:backdrop{
margin:2px;
border:1px solid @border_color;}

frame,
frame:backdrop,
*.frame,
*.frame:backdrop,
*.frame.flat,
*.frame.flat:backdrop,
border.flat,
border.flat:backdrop{
border:none;}

frame>label,
frame>label:backdrop{
margin:5px;
font-weight:bold;}
