placessidebar,
placessidebar:backdrop,
placessidebar.frame,
placessidebar.frame:backdrop,
placessidebar list,
placessidebar list:backdrop{
border-color:transparent;
background:@bg_color;}
.sidebar,
.sidebar:backdrop{
background:@bg_color;
color:@fg_color;}
assistant .sidebar>label{
font-weight:bold;
padding:3px;
margin:3px 10px;}
assistant .sidebar>label.highlight{
border-radius:2px;
border-bottom:1px solid @selected_bg_color;}
.sidebar viewport.frame,
.sidebar viewport.frame:backdrop {
border:none;}
placessidebar,
placessidebar:backdrop{
margin:1px;}

stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport.frame,
stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport.frame:backdrop {
font-weight:bold}
stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport>list separator,
stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport>list separator:backdrop {
background:@base_color;
color:transparent;
border-bottom:1px solid transparent;}
stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport>list row,
stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport>list row:backdrop {
background:inherit;
border-bottom:1px solid transparent;}
stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport>list row:selected,
stacksidebar.sidebar:not(.frame)>scrolledwindow:not(.frame)>viewport>list row:selected:backdrop {
background:inherit;
border-bottom:1px solid @selected_bg_color;}
stack stacksidebar.sidebar>scrolledwindow>viewport.frame,
stack stacksidebar.sidebar>scrolledwindow,
stack stacksidebar.sidebar>scrolledwindow.frame>viewport.frame,
stack stacksidebar.sidebar>scrolledwindow.frame{
background:@base_color;
border:none;}
stack stacksidebar.sidebar>scrolledwindow:dir(ltr),
stack stacksidebar.sidebar>scrolledwindow.frame:dir(ltr){
border-right:1px solid @border_color;}
stack stacksidebar.sidebar>scrolledwindow:dir(rtl),
stack stacksidebar.sidebar>scrolledwindow.frame:dir(rtl){
border-left:1px solid @border_color;}
