statusbar,
statusbar:backdrop{
margin:0px;
padding:0px;
border:0px;}

statusbar label,
statusbar label:backdrop{
margin:2px 0px;
padding:0px;
border:0px;}

statusbar frame,
statusbar frame:backdrop{
margin:-1px 0px;
padding:0px;
border:0px;}
