Source: 0nyx-theme
Section: xfce
Priority: optional
Maintainer: SSF <https://github.com/sixsixfive>
Build-Depends: libfile-fcntllock-perl, debhelper (>= 7) 
Standards-Version: 3.9.6

Package: 0nyx-theme
Architecture: all
Conflicts: libgtk-3-0 (<<3.20), kde-config-gtk-style, kde-config-gtk-style-preview
Pre-Depends: findutils, sed, coreutils
Depends: gtk2-engines, gtk2-engines-pixbuf, bc
Recommends: highcontrast-icon-theme, gtk2-engines:i386, gtk2-engines-pixbuf:i386, gtk3-nocsd, libgtk3-nocsd0:i386, qt5ct, libqt5svg5, qt5-style-plugins, qt5-gtk-platformtheme, libgtk1.2, libgtk1.2:i386, libgtk-3-0 (>=3.20), yad
Suggests: xfwm4 | marco | openbox | icewm | icewm-lite, xfce4-notifyd, xfdashboard, xfce4-windowck-plugin, parole, plank, slim, onboard, google-chrome-stable | google-chrome-beta | google-chrome-unstable | chromium, unp | engrampa, mate-polkit-bin | lxpolkit, atril | mupdf, ceni | connman-ui, audacious | qmmp | xmms, albert
Provides: gnome-themes-standard, gnome-themes-standard-data, mate-themes, xfwm4-themes, gtk3-engines-xfce, gtk2-engines-xfce
Description: Everyday usable dark theme mainly made for Xfce, IceWM or Openbox.

